<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Leaderboard</title>
  </head>
  <body>
    This Leaderboard is Proudly Made using Dancer2 and Perl

    <h1>
    The first for this week is <% first %>
    </h1>
  </body>
</html>
